* {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    font-size: 20px;
    padding: 3px;
    display: block;
    line-height: 30px;
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #F3F3F3;
}

a:hover {
    color: #a1a1a1;
}

body {
    background: grey;
}

.container {
    width: 720px;
    height: 340px;
    margin: 0 auto;
    margin-top: 100px;
    background-color: white;
    border-radius: 6px;
    position: relative;
    padding-bottom: 50px;
}


.container-menor {
    width: 420px;
    height: 200px;
    margin: 0 auto;
    margin-top: 100px;
    background-color: white;
    border-radius: 6px;
    position: relative;
    padding-bottom: 50px; 
}

.container a {
    text-decoration: none;
}

.container ul {
    list-style-type: none;
}

.container,
h1,
h2,
h3,
a {
    text-align: center;

}

.container p {
    text-align: justify;
}

.container p,
h3 {
    padding: 20px;
}

.container .relogio {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    margin: 0 auto;
}

.relogio {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10 rgba(0, 0, 0, 0.2);
    color: #fff;

}

.botao-voltar {
    border-bottom: none;
}

.submit {
    border: none;
    background-color: #CCC;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    color: black;
}

.submit:hover {
    color: #a1a1a1;
    cursor: pointer;
}

ol {
    list-style-type: none;
}